@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";
.mt-100 {
  margin-top: 100px;
}
s.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone {
  min-height: 150px;
  border: 1px solid rgba(42, 42, 42, 0.05);
  background: rgba(204, 204, 204, 0.15);
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(43, 43, 43, 0.1);
  box-shadow: inset 0 0 5px 0 rgba(43, 43, 43, 0.1);
}
.title {
  font-size: $fs-medium;
  font-weight: $fw-lighter;
  margin: 0;
  line-height: 40px;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
}

th {
  font-size: 12px;
  font-weight: bold;
  color: black;
}
