<mat-card>
    <div align="center">
        <mat-card-title>Enforcement Follow up</mat-card-title>
    </div>
    <div style="float: right;">
        <button mat-raised-button (click)="openEnforcementFollowup()" color="primary">
            <mat-icon>add</mat-icon> New Follow up
        </button>
    </div>
    <mat-form-field style="width: 25%;" appearance="outline">
        <mat-label>Search </mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">{{ element.action }}</td>
        </ng-container>
    
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
            <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
        </ng-container> 
    
        <ng-container matColumnDef="updater">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Udated By</th>
            <td mat-cell *matCellDef="let element">{{ element.updaterName }}</td>
        </ng-container>   

        <ng-container matColumnDef="updateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated On</th>
            <td mat-cell *matCellDef="let element">{{ element.updateDate | date }}</td>
        </ng-container>   
    
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" class="edit-button">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="delete">
            <th class="table-heading" mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" class="delete-button">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>