<div>
  <table class="table table-bordered table-sorted">
    <tr>
      <th>Nationality</th>
      <th>Name</th>
      <th>Contact No</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let defendant of defendantsList">
      <td >{{ defendant.nationality }}</td>
      <td >{{ defendant.defendantName }}</td>
      <td >{{ defendant.defendantContactNo }}</td>
      <td ><button mat-icon-button (click)="editDefendant(defendant.id)" class="edit-button">
        <mat-icon>edit</mat-icon>
      </button></td>
    </tr>
  </table>
</div>

<form fxLayout="column" [formGroup]="defendantForm">
  <div fxFlex="10 auto" fxLayout="column">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nationality</mat-label>
      <mat-select formControlName="nationality" (selectionChange)="toggleNationality($event.value)" required>
        <mat-option value="Bhutanese">Bhutanese</mat-option>
        <mat-option value="Non-Bhutanese">Non-Bhutanese</mat-option>
      </mat-select>
      <mat-error>Nationality is required!</mat-error>
    </mat-form-field>
    <div *ngIf="nationality === 'Non-Bhutanese'">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" required>
          <mat-option *ngFor="let element of countryList" [value]="element.id">{{ element.countryName }}</mat-option>
        </mat-select>
        <mat-error>Country is required!</mat-error>
      </mat-form-field> 
    </div>

    <div *ngIf="nationality === 'Non-Bhutanese'"> 
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Pass Port/Work Permit</mat-label>
        <input matInput placeholder="Pass Port/ Work Permit" formControlName="passPortNumber"
          required />
        
        <mat-error *ngIf="defendantForm.controls['passPortNumber'].hasError('required')">
          Pass Port or Work Permit is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="nationality !== 'Non-Bhutanese'">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Defendant CID</mat-label>
        <input matInput placeholder="CID Number" formControlName="defendantCid" type="tel" maxlength="11" maxlength="11"
          required />
        <mat-error *ngIf="defendantForm.controls['defendantCid'].hasError('minlength')">
          CID number cannot be less then 11 digits
        </mat-error>
        <mat-error *ngIf="defendantForm.controls['defendantCid'].hasError('required')">
          CID is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="defendantName" required />
      <mat-error>Name is required!</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="defendantDob" (click)="picker.open()" readonly />
      <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Date Of Birth is required!</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="defendantGender" required>
        <mat-option value="M">Male</mat-option>
        <mat-option value="F">Female</mat-option>
      </mat-select>
      <mat-error>Gender is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Contact No</mat-label>
      <input matInput type="tel" formControlName="defendantContactNo" minlength="8" maxlength="8" required />
      <mat-error *ngIf="defendantForm.controls['defendantContactNo'].hasError('required')">
        Contact Number is required
      </mat-error>
      <mat-error *ngIf="defendantForm.controls['defendantContactNo'].hasError('minlength')">
        Contact Number cannot be less then 8 digits
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
      <mat-label>Present Address</mat-label>
      <input matInput formControlName="presentAddress" required />
      <mat-error>Present Address is required!</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
      <mat-label>Occupation</mat-label>
      <input matInput formControlName="occupation" required />
      <mat-error>Occupation is required!</mat-error>
    </mat-form-field>

    <div *ngIf="nationality !== 'Non-Bhutanese'">
      <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
        <mat-label>House No</mat-label>
        <input matInput formControlName="houseNo" required />
        <mat-error>House No is required!</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="nationality !== 'Non-Bhutanese'">
      <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
        <mat-label>Thram No</mat-label>
        <input matInput formControlName="thramNo" required />
        <mat-error>Thram No is required!</mat-error>
      </mat-form-field>
    </div>
      
    <div *ngIf="nationality !== 'Non-Bhutanese'">
      <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
        <mat-label>Dzongkhag</mat-label>
        <mat-select formControlName="dzongkhagId" (selectionChange)="getGewogs($event.value)" required>
          <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">{{
            dzongkhag.dzongkhagName
            }}</mat-option>
        </mat-select>
        <mat-error>Dzongkhag is required!</mat-error>
      </mat-form-field>
    </div>
    
    <div *ngIf="nationality !== 'Non-Bhutanese'">
      <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
        <mat-label>Gewog</mat-label>
        <mat-select formControlName="gewogId" (selectionChange)="getVillages($event.value)" required>
          <mat-option *ngFor="let gewog of gewogs" [value]="gewog.id">{{ gewog.gewogName }}</mat-option>
        </mat-select>
        <mat-error>Gewog is required!</mat-error>
      </mat-form-field>
    </div>
     
    <div *ngIf="nationality !== 'Non-Bhutanese'">
      <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
        <mat-label>Village</mat-label>
        <mat-select formControlName="villageId" required>
          <mat-option *ngFor="let village of villages" [value]="village.id">{{ village.villageName }}</mat-option>
        </mat-select>
        <mat-error>Village is required!</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="nationality === 'Non-Bhutanese'">
      <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
        <mat-label>Permanent Address</mat-label>
        <textarea matInput placeholder="Permanent Address" formControlName="permanentAddress" style="height: 80px;"></textarea>
        <mat-error>Permanent Address is required!</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="role !== 'Prosecutor'" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button type="button" color="primary" (click)="saveDefendantEmit()"
        [disabled]="!defendantForm.valid">
        <mat-icon>save</mat-icon> Save
      </button>
      
    </div>
    <div *ngIf="role === 'Prosecutor'" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button type="button" color="primary" (click)="saveDefendantEmit()"
        [disabled]="!defendantForm.valid">
        <mat-icon>update</mat-icon> Update
      </button>
      
    </div>
  </div>
</form>
<br />

