<mat-card>
    <app-money-receipt-table></app-money-receipt-table>
</mat-card>

<mat-card>
    <div *ngIf="this.formKey === 'PART-PAYMENT'">  
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">
                Select an option to proceed
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Choose an option</mat-label>
                    <mat-select (selectionChange)="submissionType($event.value)">
                        <mat-option value="uploadMoneyReceipt">Upload Money Receipt</mat-option>
                        <mat-option value="paymentDone">Payment All done</mat-option>
                        <mat-option value="court">Send to court</mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>
        </div>
        <div *ngIf="this.optionSelected === 'uploadMoneyReceipt'">   
            <label class="col-md-3 col-form-label" style="font-size: 15px;font-weight: bold;">
                Attach Receipt:
            </label>
            <input type="file" id="file" (change)="uploadDocument($event.target.files)" />
            <div class="col-md-3">
                <button mat-raised-button color="primary" [disabled]="enableSubmit" (click)="proceedTask()">Proceed</button>
            </div>
        </div> 
    </div>
    <div class="form-group row" *ngIf="this.formKey === 'FULL-PAYMENT'">  
        <label class="col-md-3 col-form-label" style="font-size: 15px;font-weight: bold;">
            Attach Receipt:
        </label>
        <input type="file" id="file" (change)="uploadDocument($event.target.files)" /> 
        <div class="col-md-3">  
            <button mat-raised-button color="primary" [disabled]="enableSubmit" (click)="proceedTask()">Proceed</button>
        </div>
    </div>
</mat-card>