.control-label {
  font-size: 11px !important;
}

.viewTitle {
  font-size: 14px !important;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
  font-size: small;
}
