/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.success-snackbar {
  background-color: #27ae60;
  color: white;
}

.error-snackbar {
  background-color: #c23616;
  color: white;
}

.info-snackbar {
  background-color: #2980b9;
  color: white;
}

.warning-snackbar {
  background-color: #f39c12;
  color: white;
}
