<mat-card>
  <mat-toolbar style="background-color: #000000">
    <mat-card-title style="color: white">Defendant Details</mat-card-title>
  </mat-toolbar>
  <hr />
  <mat-card-content>
    <table mat-table [dataSource]="defendantList" matTableFilter matSort>
      <ng-container matColumnDef="defendantName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Defendant Name</th>
        <td mat-cell *matCellDef="let element">{{ element.defendantName }}</td>
      </ng-container>

      <ng-container matColumnDef="defendantCid">
        <th mat-header-cell *matHeaderCellDef>Defendant CID</th>
        <td mat-cell *matCellDef="let element">{{ element.defendantCid }}</td>
      </ng-container>

      <ng-container matColumnDef="updateHearingStage">
        <th mat-header-cell *matHeaderCellDef>Hearing Stage</th>
        <td mat-cell *matCellDef="let element">
          {{ element.defendantHearing === null ? 'Not Updated' : element.defendantHearing }}
        </td>
      </ng-container>

      <ng-container matColumnDef="updateHearingDetails">
        <th mat-header-cell *matHeaderCellDef>Add/Update</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary">
            <mat-icon color="primary" (click)="updateHearing(element.id)">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="showCloseArgument" style="padding-top: 25px; font-weight: bold">
      <label>Close the Argument of the this case:</label>
      <button mat-raised-button color="primary" (click)="closeHearing()">Proceed</button>
    </div>
  </mat-card-content>
</mat-card>
